<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mon Projet Node - Page d'Accueil</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #3498db;
        }

        p {
            font-size: 18px;
            color: #555;
        }

        .user-info {
            background-color: #ecf0f1;
            padding: 10px;
            margin-top: 20px;
            border-radius: 5px;
        }

        .error-message {
            color: #c0392b;
            font-weight: bold;
        }

        /* Style pour les liens */
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin: 0 10px;
        }

        a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Bienvenue sur la Page d'Accueil</h1>

    <% try { %>
        <% if (user) { %>
            <div class="user-info">
                <p>Bonjour, <%= user.name %> !</p>
                <!-- Ajoutez d'autres informations sur l'utilisateur si nécessaire -->
            </div>
            <ul>
                <li>
                    <!-- Liens lecture -->
                    <span>LIRE :</span>
                    <a href="/ue-1">UE-1</a>
                    <a href="/ue-2">UE-2</a>
                    <a href="/ue-3">UE-3</a>
                </li>
                <li>
                    <!-- Liens écriture -->
                    <span>Écrire :</span>
                    <a href="/ue-1/update">UE-1</a>
                    <a href="/ue-2/update">UE-2</a>
                    <a href="/ue-3/update">UE-3</a>
                </li>
                <li>
                    <!-- Liens validation -->
                    <span>Valider :</span>
                    <a href="/ue-1/validate">UE-1</a>
                    <a href="/ue-2/validate">UE-2</a>
                    <a href="/ue-3/validate">UE-3</a>
                </li>
            </ul>
        <% } else { %>
            <p>Veuillez vous connecter pour accéder au contenu.</p>
        <% } %>
    <% } catch (e) { %>
        <div class="error-message">
            Une erreur s'est produite : <%= e.message %>
        </div>
        <p>Veuillez vous connecter pour accéder au contenu.</p>
    <% } %>
</body>

</html>
