<!-- ue1.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>UE-2</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #3498db;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
            font-size: 18px;
            color: #555;
        }
    </style>
</head>

<body>
    <h1>Contenu de l'UE-2</h1>
    <div>
        <h2>Liste des Notes d'Élèves</h2>
        <ul>
            <li>Élève 1: Note 19/20</li>
            <li>Élève 2: Note 16/20</li>
            <li>Élève 3: Note 19/20</li>
            <!-- Ajoutez d'autres élèves et notes selon vos besoins -->
        </ul>
    </div>
</body>

</html>
